<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Recipe Form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.0.0-beta-1/css/bootstrap.min.css}">
</head>
<body>
<!--/*@thymesVar id="recipe" type="org.libermundi.recipe.domain.Recipe"*/-->
<div class="container">
    <form th:object="${recipe}" th:action="@{/recipe/save}" method="post" >
        <input type="hidden" th:field="*{id}">
        <div class="card mt-4">
            <h4 class="card-header" th:text="${(recipe.id != null)} ? 'Edit a Recipe' : 'Create a Recipe'">Create/Edit Recipe</h4>
            <div class="card-body">
                <div class="row">
                    <div class="col form-group">
                        <label th:for="name">Recipe Name</label>
                        <input type="text" th:field="*{name}"
                               class="form-control" placeholder="Name of the Recipe" aria-describedby="helpName">
                        <small id="helpName" class="text-muted">indicate the name of the Recipe</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col form-group">
                        <label th:for="categories">Categories</label>
                        <select class="form-control" th:field="*{categories}" multiple="true">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 form-group">
                        <label th:for="prepTime">Prep Time (mins)</label>
                        <input type="text" class="form-control" th:field="*{prepTime}" aria-describedby="helpPrep" placeholder="Prep time in mins">
                        <small id="helpPrep" class="form-text text-muted">How long to prepare this recipe?</small>
                    </div>
                    <div class="col-6 form-group">
                        <label th:for="source">Source</label>
                        <input type="text" class="form-control" th:field="*{source}" aria-describedby="helpSrc" placeholder="Source of the recipe">
                        <small id="helpSrc" class="form-text text-muted">Where did you find out about this recipe?</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 form-group">
                        <label th:for="cookTime">Cook Time (mins)</label>
                        <input type="text" class="form-control" th:field="*{cookTime}" aria-describedby="helpCook" placeholder="Cook time in mins">
                        <small id="helpCook" class="form-text text-muted">How long to cook this recipe?</small>
                    </div>
                    <div class="col-6 form-group">
                        <label th:for="url">URL</label>
                        <input type="text" class="form-control" th:field="*{url}" aria-describedby="helpPrep" placeholder="http://www.example.com/path/to/recipe">
                        <small id="helpPrep" class="form-text text-muted">A link to the original recipe</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mt-4">
            <h4 class="card-header">Ingredient(s)</h4>
            <div class="card-body">
                <ul th:remove="all-but-first">
                    <li th:each="ingredient : ${recipe.ingredients}" th:text="${ingredient.description}">Ingredient 1</li>
                    <li>Ingredient 2</li>
                    <li>Ingredient 3</li>
                </ul>
            </div>
        </div>

        <div class="card mt-4">
            <h4 class="card-header">Directions</h4>
            <div class="card-body">
                <div class="form-group">
                    <textarea class="form-control" th:field="*{directions}" rows="5"></textarea>
                </div>
            </div>
        </div>
        <div class="card mt-4">
            <h4 class="card-header">Notes</h4>
            <div class="card-body">
                <div class="form-group">
                    <textarea class="form-control" th:field="*{notes.notes}" rows="5"></textarea>
                </div>
            </div>
        </div>
        <div class="card mt-4">
            <div class="card-body text-right">
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="reset" class="btn btn-warning">Reset</button>
                <a name="cancel" id="cancel" class="btn btn-secondary" th:href="${cancelUrl}" role="button">Cancel</a>

            </div>
        </div>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        th:src="@{/webjars/popper/1.11.1/dist/umd/popper.min.js}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.1/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/4.0.0-beta-1/js/bootstrap.min.js}"></script>
</body>
</html>